// BORDERS
.border {
  border: 1px solid black;
}

.border-topless {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: black;
}

// POINTERS
.pointer {
  cursor: pointer
}

// PADDING, MARGIN, HEIGHT
.h-100vh {
  height: calc(100vh - 16px);
}

.h-40 {
  height: 40px;
}

.h-30 {
  height: 30px;
}

.m-10 {
  margin: 10px;
}

// ALIGNMENT
.right {}

.left {}

// COLOR PAIRS
.aqua {
  background-color: $aqua;
  color: white;
}

.grass {
  background-color: $grass;
  color: white;
}
