.auth-container {
  background-image: url('~@/assets/auth.svg');
  height: calc(100vh - 16px);
  background-size: cover;
}

.auth-body {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.auth-form {
  width: 200px;
  margin: 10px;
}

.auth-message {
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  text-align: left;
}