@import "colors";
@import "layout";
@import "messages";
@import "conversations";
@import "side-nav";
@import "auth";
@import "atomic";

.chat-header {
  color: white;
  text-shadow: -4px 4px black;
  font-weight: 900;
  font-size: 75px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}